<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Главная - Интернет-магазин</title>
  </head>
  <body>
    <a href="{% url 'add_product' %}">Добавить новый товар</a>
    <h1>Каталог товаров</h1>
    <hr />
<div style="display: flex; gap: 20px; flex-wrap: wrap">
    {% for product in products %}
    <div 
        style="
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 5px;
            width: 250px;
        "
    >
        <h3>{{ product.name }}</h3>
        <p>{{ product.description|truncatewords:20 }}</p>
        <p><strong>Цена: {{ product.price }} руб.</strong></p>
        
        
        <br>
        <a href="{% url 'edit_product' product.id %}">Редактировать</a> | 
        <a href="{% url 'delete_product' product.id %}" style="color: red;">Удалить</a>
    </div>
    {% empty %}
    <p>В магазине пока нет товаров.</p>
    {% endfor %}
</div>
    </div>
  </body>
</html>
